* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/*HEADER*/
.header__logo {
  display: flex;
}
.logo {
  width: auto;
  height: auto;
  margin: auto;
}

/*HEADER NAV*/
.header__nav {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Overlock Bold 700", cursive;
  font-size: 24px;
}

.header__nav--disconnect {
  color: #d40606;
  font-family: "Overlock Bold 700", cursive;
  font-size: 24px;
  filter: drop-shadow(5px 2px 2px #676767);
}
.header__nav--admin {
  color: aqua;
  font-weight: 800;
  text-shadow: -3px 0px #034044;
  filter: drop-shadow(5px 2px 2px #676767);
}

.aId {
  color: #b308cf;
  font-family: "Overlock Black 900", cursive;
  font-size: 24px;
  font-weight: 900;
}
/*NAV BAR MENU*/
.header__nav--menu {
  background: #d3caca;
  display: flex;
  margin: auto;
  padding: 10px;
}

.header__nav--menu a {
  color: black;
  font-family: "Overlock SC", cursive;
  font-size: 40px;
  padding: auto;
  margin: auto;
}

a {
  text-decoration: none !important;
  pointer-events: fill;
}
/*MAIN HOME*/
.container-home {
  position: relative;
}
.imgAccueil {
  background-image: url(/imgAccueil.jgp);
  width: auto;
  height: auto;
  margin: auto;
}
.homeTitle {
  font-family: "Reenie Beanie", cursive;
  font-size: 46px;
  color: #d3caca;
  background-color: #4e3452;
  margin: auto;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Reenie Beanie", cursive;
  font-size: 46px;
  color: black;
}
.p-1 {
  display: flex;
  position: absolute;
  bottom: 1285px;
  left: 805px;
  right: 216px;
  text-align: center;
}
.p-2 {
  position: absolute;
  bottom: 1086px;
  left: 540px;
  right: 369px;
  text-align: center;
}
.p-3 {
  position: absolute;
  bottom: 775px;
  left: 447px;
  right: 609px;
  text-align: center;
}
.p-4 {
  position: absolute;
  bottom: 600px;
  left: -100px;
  right: 400px;
  text-align: center;
}
/*MAIN CATALOG*/
.catalog-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
  background-color: #e7e1e1;
  padding: 60px;
}
.catalog-card {
  border-radius: 10%;
}
.catalog-titre {
  font-family: "Overlock", cursive;
  font-size: 30px;
  color: white;
  stroke: #000000;
  stroke-opacity: 50%;
  text-shadow: -3px 0px #000000;
  filter: drop-shadow(5px 2px 2px #676767);
  padding: 4px;
  margin: auto;
  text-align: center;
}

/*MAIN CATEGORY*/
.category-h1 {
  font-family: "Overlock SC", cursive;
  font-size: 40px;
  text-align: center;
  color: #4e3452 !important;
  background-color: #e7e1e1;
  text-decoration: underline;
  margin: auto;
  padding: 30px;
}
.category-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e7e1e1;
  padding: 30px;
  font-family: "Bellota";
  color: #000000 !important;
}
.category-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #d3caca;
  padding: 20px 295px 20px 30px;
  color: #000000 !important;
}
.img-list {
}
.category-price {
  color: #4e3452 !important;
  font-weight: bold;
  font-size: 30px;
}
.btn-preview {
  border: none;
  border-radius: 25px;
  background-color: #d9d9d9;
  padding: 5px 15px 5px 20px;
  font-family: "Bellota";
  display: flex;
  align-items: center;
}
.prev-next-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d3caca;
  color: white;
  border: none;
  font-size: 30px;
}
/* #prev-btn {
  position: absolute;
  top: 8%;
  left: -10%;
  z-index: 1;
}
#prev-btn {
  position: absolute;
  top: 8%;
  left: -10%;
  z-index: 1;
} */

/*MAIN PRODUCT*/

/*MAIN CONTACT*/
.bg-contact {
  background-color: #e7e1e1;
  margin: 0;
  padding: 0;
}
.formTitle {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 25px;
  font-family: "Overlock SC", cursive;
  color: #4e3452;
  font-size: 40px;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.form-contact-card {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: #d3caca;
  margin: 20px 500px;
  padding: 50px 10px 20px 10px;
  border-radius: 25px;
  background-color: #d3caca;
}
.form-contact-input {
  border: none;
  box-shadow: #d9d9d9;
  background-color: #d9d9d9;
  margin: 20px 300px;
  padding: 20px 250px;
  border-radius: 18px;
  font-size: 18px;
  text-align: left;
}
.form-contact-input-message {
  border: none;
  box-shadow: #d9d9d9;
  background-color: #d9d9d9;
  margin: 0 300px;
  padding: 200px 250px;
  border-radius: 18px;
  font-size: 18px;
}
.form-send {
  font-family: "Overlock SC", cursive;
  font-size: 32px;
  background-color: #4e3452;
  color: #e7e1e1;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin-left: 700px;
}
.section-bas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.section-bas-div {
  box-shadow: #d3caca;
  margin: 50px 50px;
  padding: 20px 70px 20px 70px;
  border-radius: 25px;
  background-color: #d3caca;
  flex-direction: column;
}
.section-bas-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 70px 0px 70px;
  text-align: center;
}
h4 {
  margin: auto;
  text-align: center;
}

/*NEWSLETTER*/
.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #d3caca;
  font-family: "Over the Rainbow", cursive;
  font-size: 40px;
  margin: 0px 0px -91px 0px;
  padding: 30px 0px 30px 0px;
}
.nl-inscription {
  display: block;
  /* margin: -70px -80px 0px 0px;
  padding: 0px 30px 0px 0px; */
  text-align: center;
}
.title-nl {
  margin: 5px;
}
.nl-input {
  background-color: #d9d9d9;
  border: none;
  border-radius: 25px;
  padding: 15px 120px 15px 120px;
  margin: -75px -100px -30px 0px;
}
.img-nl {
  width: 100px;
  height: 100px;
  margin: -30px 0px -30px 0px;
  padding: -40px 0px 0px 0px;
}
.p-nl {
  font-family: "Overlock";
  font-size: 20px;
  margin: 10;
}
/*RESEAUX SOCIAUX*/
.rs {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}
.title_rs {
  margin: 15px;
}
.icons-rs {
  padding: 0px 0px 0px 0px;
}

/*FOOTER*/
.footer {
  background: #4e3452;
  color: white;
}
.footer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: auto;
  gap: 0px;
  margin: 0;
  padding: 100px 50px;
  font-family: "Overlock";
  font-size: 24px;
}
/*.footer-section section {
  width: 420px;
  justify-content: center;
  margin: 20px 60px;
  padding: 0 50px 0 50px;
}
.footer-section h2 {
  padding-left: 40px;
}
.footer-section ul {
  margin: 2px;
}
.social {
  display: flex;
  flex-direction: row;
  margin-top: -100px;
  margin-left: 100px;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 550px;
}
*/
.copyright {
  display: flex;
  justify-content: center;
  padding: 10px 0 20px 0;
  font-family: "Overpass Mono", monospace;
  font-size: 20px;
}
/**/
/*RESPONSIVE DESIGN*/
@media screen and (min-width: 300px) and (max-width: 360px) {
  /*HEADER ET NAV*/
  .headerLogo {
    flex-direction: column;
  }
  .logo {
    flex-direction: column;
    width: 95%;
    margin-left: 10px;
  }
  .header__nav {
    flex-direction: column;
    height: auto;
    padding: 30px 0px;
  }
  .header__nav--connect {
    font-size: 5vw !important;
  }
  .header__nav--menu {
    flex-direction: column;
    padding: 30px;
  }
  /*HOME*/
  .homeTitle {
    font-size: 8vw !important;
    padding: 30px;
    text-align: center;
  }
  .imgAccueil {
    background-image: url("img/imgAccueilMobile.jpg");
    background-size: cover;
    width: 100%;
    opacity: 60%;
  }
  .container-home {
    width: 100%;
  }
  .text-home {
    flex-direction: column;
    font-size: 22px;
  }
  .p-1 {
    top: 14px;
    left: 30px;
    right: 30px;
    bottom: auto;
    text-align: center;
  }
  .p-2 {
    top: 157px;
    left: 30px;
    right: 30px;
    bottom: auto;
    text-align: center;
  }
  .p-3 {
    top: 277px;
    left: 30px;
    right: 30px;
    bottom: auto;
    text-align: center;
  }
  .p-4 {
    top: 460px;
    left: 30px;
    right: 30px;
    bottom: auto;
    text-align: center;
    font-size: 25px;
  }
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 50%; */
    /* margin-left: -71px; */
    /* margin-right: 79px; */
    margin-bottom: 60px;
    margin-top: 40px;
  }
  /*CONTACT*/
  .formTitle {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px !important;
  }
  .form-contact-card {
    width: 90%;
    margin-left: 18px;
  }
  .form-contact-input {
    padding: 15px 40px;
    margin: 10px 417px;
  }
  .form-contact-input-message {
    padding: 100px 40px;
    margin: 10px 417px;
  }
  .form-send {
    padding: 15px 30px 15px -10px;
    margin: 10px 418px;
    text-align: center;
  }
  .section-bas {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .section-bas h4 {
    margin: 0px -59px 0px -52px;
  }
  .section-bas-div {
    width: 200px;
  }
  .section-bas-img {
    margin: 0px 24px 0px -20px;
  }
  /*NEWSLETTER*/
  .newsletter {
    flex-direction: column;
  }
  .title-nl {
    font-size: 28px;
    /* padding-top: 15px; */
    /* margin: 0px 50px 0px 0px; */
  }
  .nl-input {
    padding: 10px 65px;
    margin: 0px 0px 0px 0px;
  }
  .img-nl {
    padding-left: 70px;
    margin: -80px -119px 69px 70px;
    width: 30%;
    height: 30%;
  }
  .p-nl {
    font-size: small;
    margin-top: -90px;
    /* padding: 0px 140px 20px 50px; */
    /* margin-left: -26px;
    margin-right: -56px; */
  }
  /*RESEAUX SOCIAUX*/
  .title_rs {
    font-size: 30px;
    padding-top: 10px;
    margin-top: 6px;
  }
  /*FOOTER*/
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 80%;
    /* margin: 0px -50px; */
    padding-top: 70px;
    padding-left: 70px;
    padding-bottom: 30px;
    justify-content: center;
  }
  .copyright {
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    padding-top: 65px;
  }
}

@media screen and (min-width: 361px) and (max-width: 375px) {
  /*HEADER ET NAV*/
  .logo {
    width: 100%;
    height: auto;
  }
  .header__nav {
    flex-direction: column;
    height: auto;
    padding: 30px 0px;
  }
  .header__nav--connect {
    font-size: 5vw !important;
  }
  .header__nav--menu {
    flex-direction: column;
    padding: 30px;
  }
  /*HOME*/
  .homeTitle {
    font-size: 8vw !important;
    padding: 30px;
    text-align: center;
  }
  .imgAccueil {
    background-image: url("img/imgAccueilMobile.jpg");
    background-size: cover;
    width: 100%;
    opacity: 60%;
  }
  .container-home {
    width: 100%;
  }
  .text-home {
    flex-direction: column;
    font-size: 22px;
  }
  .p-1 {
    top: 20px;
    left: 30px;
    right: 40px;
    bottom: auto;
    text-align: center;
  }
  .p-2 {
    top: 160px;
    left: 30px;
    right: 40px;
    bottom: auto;
    text-align: center;
  }
  .p-3 {
    top: 280px;
    left: 30px;
    right: 40px;
    bottom: auto;
    text-align: center;
  }
  .p-4 {
    top: 460px;
    left: 30px;
    right: 40px;
    bottom: auto;
    text-align: center;
    font-size: 25px;
  }
  .slider {
    margin-bottom: 50px;
  }
  /*CONTACT*/
  .formTitle {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px !important;
  }
  .form-contact-card {
    width: 90%;
    margin-left: 18px;
  }
  .form-contact-input {
    padding: 15px 40px;
    margin: 10px 417px;
  }
  .form-contact-input-message {
    padding: 100px 40px;
    margin: 10px 417px;
  }
  .form-send {
    padding: 15px 30px 15px -10px;
    margin: 10px 418px;
    text-align: center;
  }
  .section-bas {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .section-bas h4 {
    margin: 0px -59px 0px -52px;
  }
  .section-bas-div {
    width: 200px;
  }
  .section-bas-img {
    margin: 0px 24px 0px -20px;
  }
  /*NEWSLETTER*/
  .newsletter {
    flex-direction: column;
  }
  .title-nl {
    font-size: 28px;
    padding-top: 20px;
  }
  .nl-input {
    padding: 10px 65px;
    margin: 0px 50px -30px 0px;
  }
  .img-nl {
    padding-left: 70px;
    margin: -80px -65px 65px 70px;
    width: 30%;
    height: 30%;
  }
  .p-nl {
    font-size: small;
    margin-top: -90px;
    /* padding: 0px 140px 20px 50px;
    margin-left: -26px;
    margin-right: -56px; */
  }
  /*RESEAUX SOCIAUX*/
  .title_rs {
    font-size: 30px;
    padding-top: 10px;
    margin-top: 6px;
  }
  /*FOOTER*/
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 80%;
    /* margin: 0px -50px; */
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .copyright {
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    padding-top: 65px;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  /*HEADER ET NAV*/
  .logo {
    width: 100%;
    height: auto;
  }
  .header__nav {
    flex-direction: column;
    height: auto;
    padding: 30px 0px;
  }
  .header__nav--menu {
    flex-direction: column;
    padding: 30px;
  }
  /*HOME*/
  .homeTitle {
    font-size: 7vw !important;
    padding: 30px;
    text-align: center;
  }
  .imgAccueil {
    background-image: url("img/imgAccueilMobile.jpg");
    background-size: cover;
    width: 100%;
    opacity: 60%;
  }
  .container-home {
    width: 100%;
  }
  .text-home {
    flex-direction: column;
    font-size: 22px;
  }
  .p-1 {
    top: 15px;
    left: 30px;
    right: 30px;
    bottom: auto;
    text-align: center;
  }
  .p-2 {
    top: 150px;
    left: 30px;
    right: 30px;
    bottom: auto;
    text-align: center;
  }
  .p-3 {
    top: 265px;
    left: 30px;
    right: 30px;
    bottom: auto;
    text-align: center;
  }
  .p-4 {
    top: 430px;
    left: 30px;
    right: 30px;
    bottom: auto;
    text-align: center;
    font-size: 25px;
  }
  .slider {
    margin-bottom: 51px;
    margin-top: 16px;
  }
  .prev {
    left: -10px !important;
    font-size: 2em !important;
  }
  .next {
    right: -5px !important;
    font-size: 2em !important;
  }
  /*CONTACT*/
  .formTitle {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px !important;
  }
  .form-contact-card {
    width: 90%;
    margin-left: 18px;
  }
  .form-contact-input {
    padding: 15px 40px;
    margin: 10px 417px;
  }
  .form-contact-input-message {
    padding: 100px 40px;
    margin: 10px 417px;
  }
  .form-send {
    padding: 15px 30px 15px -10px;
    margin: 10px 418px;
    text-align: center;
  }
  .section-bas {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .section-bas h4 {
    margin: 0px -59px 0px -52px;
  }
  .section-bas-div {
    width: 200px;
  }
  .section-bas-img {
    margin: 0px 24px 0px -20px;
  }
  /*NEWSLETTER*/
  .newsletter {
    flex-direction: column;
  }
  .title-nl {
    font-size: 28px;
    padding-top: 20px;
    margin: 0px;
  }
  .nl-input {
    padding: 10px 65px;
    margin: 0px -114px 0px 0px;
  }
  .img-nl {
    padding-left: 60px;
    margin: -17px 13px -15px -32px;
    width: 30%;
    height: 30%;
  }
  .p-nl {
    font-size: 12px;
    margin-top: -10px;
    /* margin-left: -68px;
    margin-right: -56px; */
  }
  /*RESEAUX SOCIAUX*/
  .title_rs {
    font-size: 30px;
    padding-top: 51px;
    margin: 0;
  }
  /*FOOTER*/
  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 80%;
    padding-top: 75px;
    padding-bottom: 30px;
    padding-left: 150px;
  }
  .copyright {
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    padding-top: 65px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  /*HEADER ET NAV*/
  .logo {
    flex-direction: row;
    width: 95%;
    margin-left: 10px;
  }
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 30px 23px;
    margin-top: -185px;
    font-size: 20px;
  }
  .header__nav--connect {
    font-size: 3vw !important;
  }
  .header__nav--menu {
    flex-direction: row;
    padding: 30px;
  }
  /*HOME*/
  .homeTitle {
    font-size: 5.5vw !important;
    padding: 30px;
    text-align: center;
  }
  .imgAccueil {
    background-size: cover;
    width: 100%;
    opacity: 60%;
  }
  .container-home {
    width: 100%;
  }
  .text-home {
    flex-direction: column;
    font-size: 26px;
  }
  .p-1 {
    top: 30px;
    left: 424px;
    right: 63px;
    bottom: auto;
    text-align: center;
  }
  .p-2 {
    top: 190px;
    left: 228px;
    right: 36px;
    bottom: auto;
    text-align: center;
  }
  .p-3 {
    top: 287px;
    left: 157px;
    right: 268px;
    bottom: auto;
    text-align: center;
  }
  .p-4 {
    top: 468px;
    left: 2px;
    right: 257px;
    bottom: auto;
    text-align: center;
    font-size: 25px;
  }
  .slider {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
    margin-top: 16px;
  }
  .slider-legend {
    font-size: 40px !important;
  }
  .prev {
    left: -30px !important;
    font-size: 2.5em !important;
  }
  .next {
    right: -30px !important;
    font-size: 2.5em !important;
  }
  /*CONTACT*/
  .formTitle {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px !important;
  }
  .form-contact-card {
    width: 90%;
    margin-left: 18px;
  }
  .form-contact-input {
    padding: 15px 40px;
    margin: 10px 417px;
  }
  .form-contact-input-message {
    padding: 100px 40px;
    margin: 10px 417px;
  }
  .form-send {
    padding: 15px 30px 15px -10px;
    margin: 10px 418px;
    text-align: center;
  }
  .section-bas {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .section-bas h4 {
    margin: 0px -59px 0px -52px;
  }
  .section-bas-div {
    width: 200px;
  }
  .section-bas-img {
    margin: 0px 24px 0px -20px;
  }
  /*NEWSLETTER*/
  .newsletter {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  .title-nl {
    font-size: 28px;
    padding-top: 70px;
    margin: 0px;
  }
  .nl-input {
    padding: 10px 65px;
    margin: 0px -114px 0px 0px;
  }
  .img-nl {
    padding-left: 70px;
    margin: 0px 30px -16px -36px;
    width: 30%;
    height: 30%;
  }
  .p-nl {
    font-size: small;
    margin-top: -10px;
    margin-left: -68px;
    margin-right: -56px;
  }
  /*RESEAUX SOCIAUX*/
  .title_rs {
    font-size: 30px;
    padding-top: 51px;
    margin: 0;
  }
  /*FOOTER*/
  .footer-section {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 80%;
    margin: 0px 58px;
    padding-top: 70px;
    padding-bottom: 30px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .copyright {
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    padding-top: 65px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1366px) {
  /*HEADER ET NAV*/
  .logo {
    flex-direction: row;
    width: 100%;
    margin-left: 10px;
  }
  .header__nav {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    height: auto;
    padding: 30px 0px;
    margin-top: -177px;
    margin-left: 550px;
    font-size: 20px;
  }
  .header__nav--connect {
    font-size: 1.6vw !important;
  }
  .header__nav--menu {
    flex-direction: row;
    padding: 30px;
    margin-top: 12px;
    font-size: 20px;
  }
  /*HOME*/
  .homeTitle {
    font-size: 4vw !important;
    padding: 30px;
    text-align: center;
  }
  .imgAccueil {
    background-size: cover;
    width: 100%;
  }
  .container-home {
    width: 100%;
  }
  .text-home {
    flex-direction: column;
    font-size: 28px;
  }
  .p-1 {
    top: 30px;
    left: 464px;
    right: 68px;
    bottom: auto;
    text-align: center;
  }
  .p-2 {
    top: 166px;
    left: 314px;
    right: 193px;
    bottom: auto;
    text-align: center;
  }
  .p-3 {
    top: 277px;
    left: 234px;
    right: 225px;
    bottom: auto;
    text-align: center;
  }
  .p-4 {
    top: 500px;
    left: 54px;
    right: 342px;
    bottom: auto;
    text-align: center;
  }
  .slider {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
    margin-top: 51px;
  }
  .slider-legend {
    font-size: 40px !important;
  }
  .prev {
    left: -75px !important;
    font-size: 3em !important;
  }
  .next {
    right: -75px !important;
    font-size: 3em !important;
  }
  /*CONTACT*/
  .formTitle {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px !important;
  }
  .form-contact-card {
    margin: 0px 350px 0px 350px;
  }
  .form-contact-input {
    padding: 15px 150px;
    margin: 10px 417px;
  }
  .form-contact-input-message {
    padding: 100px 150px;
    margin: 10px 417px;
  }
  .form-send {
    padding: 15px 30px 15px -10px;
    margin: 10px 520px;
    text-align: center;
  }
  .section-bas {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .section-bas h4 {
    margin: 0px -59px 0px -52px;
  }
  .section-bas-div {
    width: 200px;
  }
  .section-bas-img {
    margin: 0px 24px 0px -20px;
  }
  /*NEWSLETTER*/
  .newsletter {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
  }
  .title-nl {
    font-size: 28px;
    margin: 0px;
  }
  .nl-input {
    padding: 10px 65px;
    margin: 0px -114px 0px 0px;
  }
  .img-nl {
    padding-left: 70px;
    margin: -80px 30px -16px -31px;
    width: 30%;
    height: 30%;
  }
  .p-nl {
    font-size: small;
    margin-top: -10px;
    margin-left: -68px;
    margin-right: -56px;
  }
  /*RESEAUX SOCIAUX*/
  .title_rs {
    font-size: 30px;
    margin: 0;
  }
  /*FOOTER*/
  .footer-section {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 80%;
    padding-bottom: 30px;
    align-items: flex-start;
    justify-content: space-around;
  }

  .copyright {
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    padding-top: 83px;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1919px) {
  /*HEADER ET NAV*/
  .logo {
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  }
  .header__nav {
    padding: 30px 0px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: -130px 0px 45px 545px;
  }
  .header__nav--connect {
    font-size: 1.6vw !important;
  }
  .header__nav--menu {
    flex-direction: row;
    padding: 30px;
    font-size: 20px;
  }
  /*HOME*/
  .homeTitle {
    font-size: 3.5vw !important;
    padding: 30px;
    text-align: center;
  }
  .imgAccueil {
    background-size: cover;
    width: 100%;
  }
  .container-home {
    width: 100%;
  }
  .text-home {
    flex-direction: column;
    font-size: 40px;
  }
  .p-1 {
    top: 72px;
    left: 643px;
    right: 50px;
    bottom: auto;
    text-align: center;
  }
  .p-2 {
    top: 297px;
    left: 280px;
    right: 198px;
    bottom: auto;
    text-align: center;
  }
  .p-3 {
    top: 478px;
    left: 231px;
    right: 423px;
    bottom: auto;
    text-align: center;
  }
  .p-4 {
    top: 781px;
    left: 0px;
    right: 461px;
    bottom: auto;
    text-align: center;
  }
  .slider {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
    margin-top: 51px;
  }
  .slider-legend {
    font-size: 40px !important;
  }
  .prev {
    left: -143px !important;
    font-size: 4em !important;
  }
  .next {
    right: -143px !important;
    font-size: 4em !important;
  }
  /*CONTACT*/
  .formTitle {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px !important;
  }
  .form-contact-card {
    margin: 0px 450px 0px 450px;
  }
  .form-contact-input {
    padding: 15px 318px;
    margin: 10px 235px;
  }
  .form-contact-input-message {
    padding: 100px 318px;
    margin: 10px 235px;
  }
  .form-send {
    padding: 15px 30px 15px -10px;
    margin: 10px 507px;
    text-align: center;
  }
  .section-bas {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .section-bas h4 {
    margin: 0px -59px 0px -52px;
  }
  .section-bas-div {
    width: 200px;
  }
  .section-bas-img {
    margin: 0px 24px 0px -20px;
  }
  /*NEWSLETTER*/
  .newsletter {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
  }
  .title-nl {
    font-size: 28px;
    margin: 0px;
  }
  .nl-input {
    padding: 10px 65px;
    margin: 0px -114px 0px 0px;
  }
  .img-nl {
    padding-left: 70px;
    margin: -80px 30px -16px -31px;
    width: 30%;
    height: 30%;
  }
  .p-nl {
    font-size: small;
    margin-top: -10px;
    margin-left: -68px;
    margin-right: -56px;
  }
  /*RESEAUX SOCIAUX*/
  .title_rs {
    font-size: 30px;
    margin: 0;
  }
  /*FOOTER*/
  .footer-section {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 20px;
    padding-bottom: 30px;
    align-items: flex-start;
    justify-content: space-around;
  }

  .copyright {
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1920px) {
  /*HEADER ET NAV*/
  .logo {
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  }
  .header__nav {
    padding: 30px 0px;
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: -130px -30px 45px 545px;
  }
  .header__nav--connect {
    font-size: 1.6vw !important;
  }
  .header__nav--menu {
    flex-direction: row;
    padding: 30px;
    font-size: 20px;
  }
  .header__nav--menu a {
    font-size: 70px;
  }
  /*HOME*/
  .homeTitle {
    font-size: 3.5vw !important;
    padding: 30px;
    text-align: center;
  }
  .imgAccueil {
    background-size: cover;
    width: 100%;
  }
  .container-home {
    width: 100%;
  }
  .text-home {
    flex-direction: column;
    font-size: 56px;
  }
  .p-1 {
    top: 73px;
    left: 900px;
    right: 53px;
    bottom: auto;
    text-align: center;
  }
  .p-2 {
    top: 382px;
    left: 572px;
    right: 341px;
    bottom: auto;
    text-align: center;
  }
  .p-3 {
    top: 630px;
    left: 407px;
    right: 610px;
    bottom: auto;
    text-align: center;
  }
  .p-4 {
    top: 1065px;
    left: 57px;
    right: 669px;
    bottom: auto;
    text-align: center;
  }
  .slider {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
    margin-top: 51px;
  }
  .slider-figure {
    margin: 1em 1em !important;
  }
  .slider-legend {
    font-size: 40px !important;
  }
  .prev {
    left: -203px !important;
    font-size: 4em !important;
  }
  .next {
    right: -203px !important;
    font-size: 4em !important;
  }

  /*MAIN CATEGORY*/
  .category-h1 {
    font-family: "Overlock SC", cursive;
    font-size: 40px;
    text-align: center;
    color: #4e3452 !important;
    background-color: #e7e1e1;
    text-decoration: underline;
    margin: auto;
    padding: 30px;
  }
  .category-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e1e1;
    padding: 30px;
    font-family: "Bellota";
    color: #000000 !important;
    text-align: center;
  }
  .category-card {
    /* display: flex;
    flex-wrap: wrap; */
    margin: auto;
    background-color: #d3caca;
    color: #000000 !important;
    padding: 20px 295px 20px 30px;
  }
  .catalog-card-text {
    text-align: center;
    padding: 0;
  }
  .catalog-card-text h3 {
    padding: 10px;
    text-decoration: underline;
  }
  .img-list {
    padding: 20px;
  }
  .category-price {
    color: #4e3452 !important;
    font-weight: bold;
    font-size: 30px;
  }
  .btn-preview {
    border: none;
    border-radius: 25px;
    background-color: #d9d9d9;
    padding: 5px 15px 5px 20px;
    font-family: "Bellota";
    display: flex;
    align-items: center;
  }
  .prev-next-btn {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    font-size: 1em;
    color: #d3caca;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 30px;
  }
  #prev-btn {
    position: absolute;
    top: 540px;
    left: 160px;
  }

  /*PRODUCTS*/
  .product-h1 {
    font-family: "Overlock SC", cursive;
    font-size: 40px;
    text-align: center;
    color: #4e3452 !important;
    background-color: #e7e1e1;
    text-decoration: underline;
    margin: auto;
    padding: 30px;
  }
  .product-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7e1e1;
    padding: 30px;
    font-family: "Bellota";
    color: #000000 !important;
    text-align: center;
  }
  .product-card {
    justify-content: space-between;
  }
  .product-img {
    padding: 20px;
    display: flex;
    width: 660px;
    height: 900px;
    position: absolute;
  }
  .product-mini-description {
    background-color: #d3caca;
    border-radius: 50px;
    font-size: 36px;
    padding: 50px 75px 50px 75px;
    margin: 70px 180px 70px 1060px;
  }
  .product-mini-description h3 {
    text-decoration: underline;
  }
  .product-price {
    color: #4e3452 !important;
    font-weight: bold;
    font-size: 64px;
  }
  .add-basket {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .quantity {
  }
  .btn-add-basket {
    border: none;
    border-radius: 25px;
    background-color: #d9d9d9;
    padding: 15px 25px 15px 25px;
    font-family: "Overlock SC", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }
  .homemade {
    font-style: oblique;
    font-family: "Reenie Beanie", cursive;
    font-size: 42px;
  }
  .product-param {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .delivery {
    background-color: #d3caca;
    padding: 20px;
    border-radius: 20px;
  }
  .product-text {
    text-align: left;
    padding: 50px 100px 50px 100px;
    margin: 70px 180px 70px 180px;
    background-color: #d3caca;
    border-radius: 50px;
    font-size: 32px;
  }
  .product-param p {
  }
  .product-description {
    text-align: center;
  }
  .product-most {
  }
  .product-features {
  }
  .product-dimensions {
  }
  .product-precision {
  }

  .prev-next-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d3caca;
    color: white;
    border: none;
    font-size: 30px;
  }
  /*CONTACT*/
  .formTitle {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px !important;
  }
  .form-contact-card {
    margin: 0px 450px 0px 450px;
  }
  .form-contact-input {
    padding: 15px 318px;
    margin: 10px 235px;
  }
  .form-contact-input-message {
    padding: 100px 318px;
    margin: 10px 235px;
  }
  .form-send {
    padding: 15px 30px 15px -10px;
    margin: 10px 507px;
    text-align: center;
  }
  .section-bas {
    flex-direction: row;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
  .section-bas h4 {
    margin: 0px -59px 0px -52px;
  }
  .section-bas-div {
    width: 200px;
  }
  .section-bas-img {
    margin: 0px 24px 0px -20px;
  }
  /*NEWSLETTER*/
  .newsletter {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
  }
  .title-nl {
    font-size: 28px;
    margin: 0px;
  }
  .nl-input {
    padding: 10px 65px;
    margin: 0px -114px 0px 0px;
  }
  .img-nl {
    padding-left: 70px;
    margin: -80px 30px -16px -31px;
    width: 30%;
    height: 30%;
  }
  .p-nl {
    font-size: small;
    margin-top: -10px;
    margin-left: -68px;
    margin-right: -56px;
  }
  /*RESEAUX SOCIAUX*/
  .title_rs {
    font-size: 30px;
    margin: 0;
  }
  /*FOOTER*/
  .footer-section {
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 30px;
    align-items: flex-start;
    justify-content: space-around;
  }

  .copyright {
    flex-direction: row;
    font-size: 10px;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 20px;
  }
}
