body{
    margin: 0;
}
/*HEADER*/
.header{
    display: flex;
}

.logo{
    width: 30%;
    height: 30%;
    margin-left: 10px;
}
/*HEADER NAV*/
.headerNav{
    display: flex;
    margin-left: auto;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

header nav a{
    color: black;
    font-family: 'Overlock Bold 700', cursive;
    font-size: 24px;
    padding: 10px;
    margin: 2px;
}

.aId{
    color: #b308cf;
    font-family: 'Overlock Black 900', cursive;
    font-size: 24px;
    font-weight: 900;
}
/*NAV BAR MENU*/
.navBarMenu{
    background: #d3caca;
    display: flex;
    margin: auto;
    padding: 10px;
}

.navBarMenu a{
    color: black;
    font-family: 'Overlock SC', cursive;
    font-size: 40px;
    padding: auto;
    margin: auto;
}

a{
    text-decoration: none!important;
    pointer-events: fill;
}
/*MAIN HOME*/
.container{
    position: relative;
}

.imgAccueil{
    width: 100%;
}

.text{
    font-family: 'Reenie Beanie', cursive;
    font-size: 46px;
    color: black;
}
.p-1{
    position: absolute;
    bottom: 800px;
    left: 780px;
    right: 400px;
}

.p-2{
    position: absolute;
    bottom: 640px;
    left: 650px;
    right: 350px;
}

.p-3{
    position: absolute;
    bottom: 380px;
    left: 550px;
    right: 500px;
}

.p-4{
    position: absolute;
    bottom: 200px;
    left: 750px;
    right: 400px;
}
/*MAIN CATALOG*/
.main-catalog{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h3{
    font-family: 'Overlock', cursive;
    font-size: 28px;
    color: white;
    stroke: #000000;
    stroke-opacity: 50%;
    text-shadow: -3px 0px #000000;
    padding: 4px;
}

/*MAIN CATEGORY*/

/*MAIN PRODUCT*/

/*MAIN CONTACT*/

/*FOOTER*/
.footer{
    margin: 0;
    background: #4e3452;
    color: white;
    font-family: 'Overlock';
    font-size: 24px;
}

.flex{
    display: flex;
}

.flex section{
    width: 420px;
    justify-content: center;
    margin: 20px 60px;
    padding: 0 50px 0 50px;
}

.flex h2{
    padding-left: 40px;
}

.social{
    display: flex;
    flex-direction: row;
    margin-top: -100px;
    margin-left: 100px;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 550px;
}

.copyright{
    display: flex;
    justify-content: center;
    padding: 10px 0 40px 0;
    font-family: 'Overpass Mono', monospace;
    font-size: 15px;
}